<div class="row m-b-18px">
  <div class="col-md-12">
      <!-- button to create new authority -->
      <a (click)="createAuthority()" class='btn btn-primary pull-right'>
          <span class='glyphicon glyphicon-plus'></span> Create Authority
      </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

      <!-- HTML table for our list of authority records -->
      <table class='table table-hover table-responsive table-bordered'>

          <tr>
              <th>Authority</th>
              <th>Price</th>
              <th>Description</th>
              <th>Category</th>
              <th>Actions</th>
          </tr>

          <!-- Use *ngFor directive to loop throught our list of authoritys. -->
          <tr *ngFor="let authority of authorities">
              <td>{{authority.name}}</td>
              <td>{{authority.price}}</td>
              <td>{{authority.description}}</td>
              <td>{{authority.category_name}}</td>
              <td>
                  <!-- read one authority button -->
                  <a (click)="readOneAuthority(authority.id)" class='btn btn-primary m-r-5px'>
                      <span class='glyphicon glyphicon-eye-open'></span> Read
                  </a>

                  <!-- edit authority button -->
                  <a (click)="updateAuthority(authority.id)" class='btn btn-info m-r-5px'>
                      <span class='glyphicon glyphicon-edit'></span> Edit
                  </a>

                  <!-- delete authority button -->
                  <a (click)="deleteAuthority(authority.id)" class='btn btn-danger m-r-5px'>
                      <span class='glyphicon glyphicon-remove'></span> Delete
                  </a>
              </td>
          </tr>
      </table>
  </div>
</div>